---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const chord = await getCollection("chord");

  return chord.map(item => ({
    params: { slug: item.id.substring(0, item.id.lastIndexOf('.')) },
  }));
}

const { slug } = Astro.params;
// slug に一致する記事を取得
const entry = await getEntry("chord", slug);
const { Content } = await entry.render();
const lines = entry.body.split("\n");
const evenLines = lines.filter((_, index) => index % 2 === 1);
const oddLines = lines.filter((_, index) => index % 2 === 0);
const zipped = oddLines.map((line, index) => ({odd: line, even: evenLines[index]}));
---

<BaseLayout title={entry.data.title}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <article>
    <h1>{entry.data.title}</h1>
    <p>Lyrics: {entry.data.lyrics}</p>
    {entry.data.capo > 0 && <p>Capo: {entry.data.capo}</p>}
    <br />
    {zipped.map(({odd, even}) => (
      <div class="odd">
        <span>{odd}</span>
      </div>
      <div class="even">
        <span>{even}</span>
      </div>
    ))}
  </article>
</BaseLayout>

<style>
  .line {
    white-space: pre-wrap;
    line-height: 1.6;
  }

  .odd,
  .even {
    white-space: pre-wrap;
    font-optical-sizing: none;
    display: flex;
    height: 1.6rem;
    line-height: 1rem;
  }

  .odd {
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
    align-items: flex-end;
    color: var(--fixed-blue);
  }

  .even {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.0em;
    align-items: flex-start;
  }
</style>