---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import PostList from "../components/PostList.astro";
import ReleaseList from "../components/ReleaseList.astro";
import VideosList from "../components/VideosList.astro";
import LyricsList from "../components/LyricsList.astro";
import { getCollection } from "astro:content";

const news = (await getCollection("news"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const release = (await getCollection("release"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const videos = (await getCollection("videos"))
  .sort((a, b) => b.data.index - a.data.index)
  .slice(0, 3);

const lyrics = (await getCollection("lyrics"))
  .sort((a, b) => b.data.index - a.data.index);

const profile = (await getCollection("profile"))[0];
---

<BaseLayout title="Home">
  <!-- Link -->
  <Link class="top-links" />

  <section class="home-posts">
    <Section class="home-news" title="News" isViewMore={true}>
    <PostList posts={news} basePath="news" />
    </Section>

    <Section class="home-release" title="Release" isViewMore={true}>
      <ReleaseList posts={release} basePath="release" />
    </Section>
  </section>

  <Section title="Videos" isViewMore={true}>
    <VideosList posts={videos} basePath="videos" />
  </Section>

  <section class="home-posts">
    <Section class="home-lyrics" title="Lyrics">
      <LyricsList posts={lyrics} basePath="lyrics" />
    </Section>

    <Section class="home-profile" title="Profile" isViewMore={true}>
      <ul>
        <li>
          <ul>
            <h3>{profile.data.name}</h3>
            <li>{profile.data.about}</li>
          </ul>
          <a href={`/profile`}>
          <img src="/images/avatar.jpg" width="100" alt="icon image" /><br />
          </a>
        </li>
      </ul>
    </Section>
  </section>
</BaseLayout>
